body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header"
        "calendar_area day_info_area"
        "calendar_area month_info_area";
}

.header {
    height: 10vh;
    grid-area: header;
    color: #ffffff;
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.calendar_area {
    grid-area: calendar_area;
    margin: auto;
    background-color: #ff0055;
    opacity: 0.75;
    width: 75%;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10%;
    margin-top: 10%;
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.day_info_area {
    grid-area: day_info_area;
    margin: 10%;
    width: 75%;
    text-align: center;
    font-size: 1.2vw;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.day_info_area p {
    text-align: justify;
}

.month_info_area {
    grid-area: month_info_area;
    margin: auto;
    width: 75%;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 1.2vw;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.month_info_area p {
    text-align: justify;
}


/* Cover Image for each month */
.calendar_cover {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: auto;
    border: 1px solid #000000;
    border-radius: 10px;
    opacity: 0.75;
}

.calendar_table {
    background-color: #fff0d8;
    opacity: 0.75;
    width: 100%;
    max-height: 100%;
    border: 1px solid #000000;
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0.5vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.calendar_table td {
    cursor: pointer;
    opacity: 0.75;
    border: 1px solid #000000;
    border-radius: 10px;
    height: 100%;
    vertical-align: bottom;
    text-align: end;
}

.calendar_table td:hover {
    background-color: #ffd000;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.calendar_table th {
    background-color: #ff4800;
    height: 100%;
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.calendar_table td {
    padding: 10px;
}

.calendar_table tbody td {
    height: 3em;
    border: 1px solid #000000;
    vertical-align: bottom;
    text-align: end;
    font-size: auto;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.today {
    background-color: #ffd000;
    color: #ffffff;
}

.saturday {
    color: #ff00007e;
}

.sunday {
    color: #ff0000;
}

.holiday {
    background-color: #00ccff;
}

.day_of_another_month {
    color: #00000031;
}

.month_nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.month_nav button {
    background-color: transparent;
    border: none;
    font-size: 1.5vw;
    font-weight: bold;
    color: black;
}

.is_clickable {
    cursor: pointer;
}



tbody td {
    padding: 10px;
    /* Hier kannst du den gewünschten Abstand in Pixeln einstellen */
}

/* Entfernt den Abstand zwischen den <th> Zellen im <thead> */
thead th {
    padding: 0;
    /* Kein Abstand für <th> */
}